{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<header>
    <nav>
        <ul>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('public_events') }}">See Public Events</a></li>
        </ul>
    </nav>
</header>
<div class="row">
    <div class="col-md-6">
        <br>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('create_event') }}" class="btn-create-event">Create Event</a>
        {% endif %}
        <br>
        <h3 id="upcoming-events">Upcoming Events</h3>
        {% if upcoming_events %}
            <ul class="list-group">
                {% for event in upcoming_events %}
                    <li class="list-group-item">
                        <div class="event-details">
                            <h5>{{ event.title }}</h5>
                            <p class="event-description">{{ event.description[:13] }}{% if event.description|length > 13 %}...{% endif %}</p> <!-- Display truncated description -->
                            <p class="event-date">({{ event.date.strftime('%Y-%m-%d') }})</p>
                        </div>
                        {% if event.user_id == current_user.id %}
                            <div class="event-buttons">
                                <a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-danger btn-sm">Edit</a>
                                <button class="btn btn-danger btn-sm" onclick="confirmDelete('{{ event.id }}')">Delete</button>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No upcoming events.</p>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h3>Past Events</h3>
        {% if past_events %}
            <ul class="list-group">
                {% for event in past_events %}
                    <li class="list-group-item">
                        <div class="event-details">
                            <h5>{{ event.title }}</h5>
                            <p class="event-description">{{ event.description[:13] }}{% if event.description|length > 13 %}...{% endif %}</p> <!-- Display truncated description -->
                            <p class="event-date">({{ event.date.strftime('%Y-%m-%d') }})</p>
                        </div>
                        {% if event.user_id == current_user.id %}
                            <div class="event-buttons">
                                <a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-danger btn-sm">Edit</a>
                                <button class="btn btn-danger btn-sm" onclick="confirmDelete('{{ event.id }}')">Delete</button>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No past events.</p>
        {% endif %}
    </div>
</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
