{% extends 'base.html' %}

{% block content %}
  <h1>Registration</h1>
  <form method="POST" action="{{ url_for('register') }}">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class='form-control') }}
    </div>
    <div class="form-group">
      {{ form.email.label }}
      {{ form.email(class='form-control') }}
    </div>
    <div class="form-group">
      {{ form.password.label }}
      {{ form.password(class='form-control') }}
    </div>
    <div class="form-group">
      {{ form.confirm_password.label }}
      {{ form.confirm_password(class='form-control') }}
    </div>
    <div class="form-group">
      {{ form.privacy_preference.label }}
      <select class="form-control" name="{{ form.privacy_preference.name }}">
        <option value="private">Private</option>
        <option value="public">Public</option>
      </select>
    </div>
    <div class="form-group">
      <label for="tos-checkbox">
        <input type="checkbox" id="tos-checkbox" required>
        I agree to the <a href="{{ url_for('terms_of_service') }}" target="_blank">Terms of Service</a> and <a href="{{ url_for('privacy_policy') }}" target="_blank">Privacy Policy</a>.
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Register</button><br>
    <p>Alrady have a account? <a href="{{ url_for('login') }}">login</a></p>
  </form>
{% endblock %}
