{% extends 'base.html' %}

{% block content %}
    <h1>Reset Password</h1>
    {% for error in form.password.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}
    <form method="POST" action="{{ url_for('reset_password_action', reset_token=reset_token) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_='form-control') }}
        </div>
        <div class="form-group">
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class_='form-control') }}
        {% for error in form.confirm_password.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
{% endblock %}
